{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="conta">
<h1 class="title">Todo List</h1>

{{ form_start(filter)}}

{{ form_widget(filter)}}

{{ form_end(filter)}}

{% for task in tasks %}
 <section class="container">
<div class ="az">

<p class="task_title">{{ task.title}}</p>
<hr>

<p="contentask">{{ task.content }}</p>
<a href="{{ path('showpage', {id:task.id})}}">Voir la tâche</a>

</div>
</section>
{% endfor %}
</div>
{% endblock %}
